*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
app/libs/
app/src/main/res/dimen/
app/src/main/res/radar_search/
app/src/main/res/rawradar_search.json/
app/src/main/res/values/dimens/
